*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header{
    display: flex;
    font-family: sans-serif;
    color: white;
    background-color: #272b35;
    justify-content:space-between;
}

#personal-fitness{
    margin: 5px;
    width: 120px;
    margin-left: 47%;
    margin-right: 30%;
}

#header-div{
    width: 20%;
    display: grid;
    grid-template:
    "a"
    "b" 1fr;
}

#made-by{
    font-size: 10px;
    opacity: 30%;
    text-align: end;
    margin-left: auto;
    grid-area: a;
}

#github-icon{
    margin: 5px;
    width: 30px;
    height: 30px;
    margin-left: auto;
    cursor: pointer;
    grid-area: b;
}

#git-link{
    margin-left: auto;
    margin-top: auto;
}

body{
    background-color: #1a1e27;
}

main{
    display: grid;
    grid-template:
    "a b" 1fr;
    font-family: sans-serif;
    font-size: 20px;
    justify-content:center;
    color: white;
}

#select-muscle-group{
    display: grid;
    grid-area: a;
    margin: 2rem;
    background-color: #272b35;
    border-radius: 10px;
    height: 60px;
    width: 536px;
}

#list{
    grid-area: b;
    width: 600px;
}

#select-muscle{
    width: 600px;
}

#muscle-group{
    width: 100%;
    font-size: 18px;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    background-color: #272b35;
    color: white;
    border: none;
    border-radius: 10px;
}

footer{
    opacity: 25%;
    text-align: center;
    font-size: 15px;
}

#exercise-list{
    margin: 2rem;
    width: 536px;
    border-radius: 10px;
    background-color: #272b35;
    border-radius: 10px;
}

.exercise{
    display: grid;
    grid-template:"a b c" 1fr;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.185);
    padding: 1rem;
}

.icon{
    grid-area: a;
    width: 90px;
}

#exercise-name{
    grid-area: b;
    width: 194px;
}

#exercise-muscle{
    font-size: 10px;
    background-color: rgb(83, 206, 83);
    border-radius: 10px;
    padding: 5px;
    width:fit-content;
}

#sets-reps-add{
    grid-area: c;
    display: grid;
    grid-template:
    "a b c"
    "d e c" ;
    width: 220px;
    align-content: center;
}

#sets-text{
    grid-area: a;
    font-size: 15px;
    width: 40px;
    text-align: end;
    margin: 5px;
}

#reps-text{
    grid-area: d;
    font-size: 15px;
    width: 40px;
    text-align: end;
    margin: 5px;
}

#sets{
    grid-area: b;
    width: 60px;
    height: 20px;
    margin: 5px;
    outline: none;
    border: none;
    background-color: #272822;
    color: white;
}

#reps{
    grid-area: e;
    width: 60px;
    height: 20px;
    margin: 5px;
    outline: none;
    border: none;
    background-color: #272822;
    color: white;
}

#add-exercise{
    grid-area: c;
    font-size: 10px;
    width: 35px;
    height: 20px;
    margin: 5px;
    padding: 3px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #272822;
    color: white;
    border-color: #2b2b2a;
}
#add-exercise:hover{
    cursor: pointer;
    color: rgb(0, 179, 0);
    border-color: rgb(0, 179, 0);
}

#my-workout-text{
    background-color: #272b35;
    color: white;
    border-radius: 10px;
    text-align: center;
    width: 536px;
    height: 60px;
    margin: 2rem;
    padding: 1rem;
}

#choosen-exercises{
    width: 536px;
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: #272b35;
    border-radius: 10px;
}

#choosen-exercise{
    display: grid;
    grid-template:"a b c d" 1fr;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.185);
    padding: 1rem;
}

#choosen-exercise-name{
    grid-area: a;
    width:185px;
}

#choosen-exercise-muscle{
    grid-area: b;
    font-size: 10px;
    background-color: rgb(83, 206, 83);
    border-radius: 10px;
    padding: 5px;
    width:fit-content;
}

#choosen-sets-reps{
    padding: 5px;
}

#exercise-tips{
    grid-area: c;
    font-size: 10px;
    padding: 1rem;
}

#remove-exercise{
    grid-area: d;
    border: none;
    width: 22px;
    height: 27px;
    padding: 3px;
    margin-top: auto;
    background: url("img/trashcan-closed.png") no-repeat;
    
}

#remove-exercise:hover{
    background: url("img/trashcan-open.png") no-repeat;
    cursor: pointer;
}

#choosen-exercise-sets{
    font-size: 10px;
}

#choosen-exercise-reps{
    font-size: 10px;
}

#tutorial-link{
    font-size: 10px;
    margin-top: 3px;
    opacity: 60%;
    cursor: pointer;
    width: 35px;
}

#reset-div{
    display: flex;
    justify-content:space-between;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.185);
    padding-top: 10px;
    padding-bottom: 5px;
}

#reset{
    border: none;
    margin-right: 1rem;
    padding: 5px;
    text-decoration: underline;
    background-color: #272b35;
    color: white;
    opacity: 40%;
}
#reset:hover{
    cursor: pointer;
    color: red;
}

#amountText{
    margin-left: 1rem;
    font-size: 15px;
    opacity: 40%;
}

#bar-chart{
    background-color: #272b35;
    border-radius: 10px;
}

#chart{
    margin-top: 10px;
}

#rect-chest{
    fill: #558ab6;
}

#rect-back{
    fill: #b56fab;
}

#rect-shoulder{
    fill: #c74243;
}

#rect-arms{
    fill: orange;
}

#rect-abs{
    fill: #ffde17;
}

#rect-legs{
    fill: purple;
}

.text-bar{
    font-size: 8px;
    fill: white;
}

.text-amount{
    font-size: 7px;
    fill: white;
}

@media (max-width: 1200px){
    main{
        grid-template:
        "a"
        "b" 1fr;
    }
}

@media (max-width: 600px){
    header, h1{
        font-size: 25px;
        background-color: #1a1e27;
    }
    body{
        background-color: #272b35;
    }
    main{
        display: block;
        border-radius: 10px;
    }
    #select-muscle{
        width: 100%;
    }
    #list{
        width: 100%;
    }
    #exercise-list{
        margin: 0;
    }
    #select-muscle-group{
        margin: 0;
    }
    #my-workout-text{
        margin: 0;
    }
    #choosen-exercises{
        margin: 0;
    }
}